{ :source-paths ["src"]
  :dependencies [[funcool/httpurr "1.0.0"]]
  :builds {
    :app {:target :node-script
          :output-dir "target"
          :output-to "onto-server.js"
          :main onto.server/main }
    :lib {:target :node-library
          :output-to "target/lib/onto.js"
          :exports {:main onto.server/main}}}}