{ :source-paths ["src"]
  :dependencies [[funcool/httpurr "1.0.0"]]
  :builds {
      :app {:target :node-script
          :output-dir "target"
          :output-to "target/onto-server.js"
          :main onto.server/main }
      :deprovision {:target :node-library
          :output-to "deprovision.js"
          :compiler-options {:closure-output-charset "US-ASCII"}
          :exports {:main onto.server/deprovision}}
      :echo {:target :node-library
          :output-to "echo.js"
          :compiler-options {:closure-output-charset "US-ASCII"}
          :exports {:main onto.server/echo}}
      :provision {:target :node-library
          :output-to "provision.js"
          :compiler-options {:closure-output-charset "US-ASCII"}
          :exports {:main onto.server/provision}}}}